.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}
.post {
  max-width: 720px;
  margin: 5rem auto 0;
}
.post h1 {
  font-size: 3.5rem;
  font-weight: 900;
}
.post time {
  display: block;
  font-size: 1rem;
  color: var(--gray-300);
  margin-top: 1.5rem;
}
.post .postContent {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  color: var(--gray-100);
}
.post .postContent p, .post .postContent ul {
  margin: 1.5rem 0;
}
.post .postContent ul {
  padding-left: 1.5rem;
}
.post .postContent ul li {
  margin: 0.5rem 0;
}
.post .postContent.previewContent {
  background: linear-gradient(var(--gray-100), transparent);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.continueReading {
  padding: 2rem;
  text-align: center;
  background: var(--gray-850);
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 4rem 0 2rem;
}
.continueReading a {
  color: var(--yellow-500);
  margin-left: 0.5rem;
}
.continueReading a:hover {
  text-decoration: underline;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  overflow-x: hidden;
}
.container {
  width: 100%;
}
.header {
	 padding: 2.4rem 0;
}
 .banner {
	 height: 400px;
	 width: 100%;
	 position: relative;
}
 .banner img {
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%);
	 height: 100%;
	 width: 100vw;
	 object-fit: cover;
}
 .tags {
	 display: flex;
	 gap: 1.5rem;
	 margin-top: 1.5rem;
	 color: var(--text-info);
	 font-size: 0.875rem;
	 font-weight: 600;
}
 .tags span {
	 display: flex;
	 align-items: center;
	 gap: 0.5rem;
}
 .main {
	 margin-top: 5rem;
}
 .title {
	 color: var(--text-heading);
	 font-size: 3rem;
	 font-weight: 700;
	 letter-spacing: -0.5px;
	 line-height: 120%;
}
 .subject {
	 margin-top: 5rem;
}
 .subjectBlock {
	 margin-bottom: 4rem;
	 display: flex;
	 flex-direction: column;
	 gap: 2rem;
}
 .subjectBlock h5 {
	 font-weight: 700;
	 font-size: 2.25rem;
	 line-height: 140%;
	 color: var(--text-heading);
	 margin-bottom: 1.75rem;
}
 .subjectBlock p {
	 line-height: 140%;
	 font-size: 1.125rem;
	 color: var(--text-body);
}
 